<!-- <p>navbar works!</p> -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">MEAN</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="nav navbar-nav navbar-left">
        <li [routerLinkActive]="['active']">
          <a class="nav-link" aria-current="page" [routerLink]="['/']">Home</a>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
    </ul>
  </div>
</nav>
